<link rel="stylesheet" href="/css/carts.css" />
<div class="cartPage">
  <div class="titleCart">
    <h1>Carros de compras</h1>
    <p>a corregir</p>
  </div>

  <div id="cartBox">

  </div>
  <br />

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/carts.js"></script>