<link rel="stylesheet" href="/css/chat.css" />
<div class="chatPage">
  <div class="titleChat">
    <h1>Pagina de Chat</h1>
    <h2>Bienvenido <span id="userName"></span> !</h2>
  </div>

  <div id="chatBox">

  </div>
  <br />
  <div>
    <input type="text" placeholder="Ingresa tu mensaje" name="" id="inputMsg" />
    <button id="sendBtnMsg">Enviar</button>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>