#cartBox {
  width: 90%;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 5px solid #333;
}

.btnDelCart {
  margin: 10px;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.cart {
  margin: 4px;
  border-radius: 10px;
  background-color: #ccc;
  border: 2px solid #44f;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3px;
}

.line1 {
  font-weight: bold;
}
.cartIdtitle {
  font-weight: bold;
}

.cartIdimg img {
  width: 50%;
}

.cartIdprice {
  font-weight: bold;
}

.cartIdcant {
  font-weight: bold;
}

.hrShort {
  width: 50%;
  border: 1px solid black;
}
