body {
  text-align: center;
}

a:visited {
  color: #55f;
}

.navMain {
  height: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  color: #55f;
}

.navMain a {
  margin: 3px 10px;
  text-decoration: none;
  padding: 5px;
}

.navBar {
  font-weight: bold;
}

.navRight {
  display: flex;
  height: auto;
  width: auto;
  align-items: center;
  width: 150px;
}

.navRight img {
  align-items: center;
  width: 30%;
}

.lineHr {
  margin: 20px;
}

.lineFooter {
  border-top: 2px solid black;
  height: 150px;
  background-color: #333;
}
