<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <nav class="navMain">
      <a href="/">Home</a>
      <a href="/realtimeproducts">Productos en VIVO</a>
      <a href="/chat">Chat General</a>
    </nav>
    <hr class="lineHr" />

    {{{body}}}

    <footer>Pie de Pagina</footer>
  </body>
</html>